<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Comidas ricachongas!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">La Tiendita</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio
                        <img class="mb-1" src="data:image/svg+xml;base64,PHN2ZyBpZD0ibGlnaHQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnPjxwYXRoIGQ9Im0xOS41IDI0aC00Yy0uMjc2IDAtLjUtLjIyNC0uNS0uNXYtN2MwLS4yNzYtLjIyNC0uNS0uNS0uNWgtNWMtLjI3NiAwLS41LjIyNC0uNS41djdjMCAuMjc2LS4yMjQuNS0uNS41aC00Yy0uODI3IDAtMS41LS42NzMtMS41LTEuNXYtOS41aC0yYy0uNTUxIDAtMS0uNDQ5LTEtMSAwLS4yNjUuMTA4LS41MjUuMjk2LS43MTNsMTEuMzU0LTExLjE0NGMuMTk0LS4xOS41MDYtLjE5LjcgMGwxMS4zNSAxMS4xNGMuMTkyLjE5Mi4zLjQ1Mi4zLjcxNyAwIC41NTEtLjQ0OSAxLTEgMWgtMnY5LjVjMCAuODI3LS42NzMgMS41LTEuNSAxLjV6bS0zLjUtMWgzLjVjLjI3NiAwIC41LS4yMjQuNS0uNXYtMTBjMC0uMjc2LjIyNC0uNS41LS41aDIuNWwtMTEtMTAuNzk5LTExIDEwLjc5NiAyLjUuMDAzYy4yNzYgMCAuNS4yMjQuNS41djEwYzAgLjI3Ni4yMjQuNS41LjVoMy41di02LjVjMC0uODI3LjY3My0xLjUgMS41LTEuNWg1Yy44MjcgMCAxLjUuNjczIDEuNSAxLjV6Ii8+PC9nPjwvc3ZnPg=="
                            width="18px" /></a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">¡Los mejores postres! </h1>
                <small>...Según nosotros</small>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="card">

        </div>

        <script src="./controllers/postres.js"></script>
</body>

</html>